.Todos {
  text-align: center;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  margin: 40px 10px;
}

.todosInput {
  width: 87%;
  border-radius: 6px;
  padding: 6px 4px;
  margin-right: 10px;
  margin-bottom: 20px;

  color: #333;
  border: 1px solid #ddd;
  background: #f9f7fe;
}

.addBtn {
  margin-bottom: 13px;
  width: 100px;
  margin-top: 10px;
}

.title {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

.description {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
}

.todoDescription {
  margin-top: 35px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.checkbox {
  margin: 20px;
  width: 20px;
  height: 20px;
}

.deleteBtn {
  margin-right: 20px;
  position: relative;
  margin-top: -14px;
}

.editBtn {
  position: relative;
  margin-top: -14px;
}

.submiteditBtn {
  position: relative;
  margin-top: -14px;
}
